<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
            {% include 'partials/metadata.html.twig' %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <link rel="icon" type="image/png" href="{{ url('theme://img/favicon/favicon.ico') }}" />
            {% block stylesheets %}
                {% do assets.addCss('theme://semantic/dist/semantic.min.css') %}
                {% do assets.addCss('theme://sss/sss.css') %}
                {% do assets.addCss('theme://css/lemexique.css') %}
                
            {% endblock %}
            {{ assets.css() }}
            {% block javascripts %}
                {% do assets.add('https://code.jquery.com/jquery-2.2.4.min.js',103) %}
                {% do assets.add('theme://semantic/dist/semantic.min.js',102) %}
                {% do assets.add('theme://sss/sss.min.js',101) %}
                {% do assets.add('theme://js/antimatter.js',100) %}
                
            {% endblock %}
            {{ assets.js() }}
        {% endblock head%}
    </head>
    <body class="ui page grid">
        <div class="sixteen wide column">
            {% block navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}
            {% block header %}
                {% include 'partials/header.html.twig' %}
            {% endblock %}
        </div>
    </header>
    <main>
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
    </main>
    <footer id="footer">
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </footer>
</body>
</html>